@import "_type.scss";
@import "_swal.scss";

html, body {
  background: $flat-midnight-blue;
  color: $flat-clouds;
  font: normal 1rem/1.8 'Open Sans', sans-serif;
}

.masthead {
  background: $flat-wet-asphalt;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  padding: 10px 30px;
  border-bottom: 1px solid $flat-wet-asphalt;
}

.breadcrumbs {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;

  &-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: $flat-clouds;

    & .target {
      text-decoration: none;
      color: $flat-peter-river;
    }

    &:after {
      content: "\203A";
      padding: 0 4px;
    }

    &:last-child:after {
      content: "";
    }
  }
}

.categories {

}

.categoryList {
  list-style-type: none;
  padding: 10px;
  border-right: 1px solid $flat-wet-asphalt;

  &-item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
    transition: all 0.2s ease;
    border-radius: 5px;

    & .btn-delete {
      border: none;
      background: transparent;
      color: $flat-alizarin;
      cursor: pointer;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease;
      -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
    }

    &:hover {
      background: $flat-wet-asphalt;

      & .target {
        & i {
          color: $flat-blue-1;
        }
      }

      & .btn-delete {
        opacity: 1;
      }
    }

    & .target {
      color: $flat-clouds;
      flex-grow: 1;
      text-decoration: none;

      & i {
        color: $flat-blue-2;
      }
    }
  }
}

.logout-link {
  display: block;
  color: white;
  text-decoration: none;
  float: right;
}

.controls {
  & .btn-delete {
    border: none;
    font-size: 1.5em;
    background: transparent;
    color: $flat-alizarin;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  & .btn-edit {
    border: none;
    font-size: 1.5em;
    background: transparent;
    color: $flat-belize-hole;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-right: 5px;
    margin-left: 15px;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}

.categoryTiles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & .tile {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 200px;
    align-items: stretch;
    display: flex;

    &-target {
      text-decoration: none;
      color: $flat-emerald;
      align-items: center;
      display: flex;
      justify-content: center;
      border:5px solid $flat-emerald;
      background: $flat-nephritis;
      margin: 10px;
      border-radius: 10px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      flex-wrap: wrap;
      align-content: center;

      &:hover {
        background: $flat-belize-hole;
        color: $flat-peter-river;
        border-color: $flat-peter-river;
      }
      & .icon {
      }

      & .text {
        display: block;
        margin-top: 10px;
        width: 100%;
      }

      &.mod-new {
        border: 5px dashed $flat-wet-asphalt;
        background: transparent;
        color: $flat-wet-asphalt;
        cursor: pointer;

        &:hover {
          color: $flat-belize-hole;
        }
      }
    }
  }
}

.itemTiles {
  list-style-type: none;
  margin: 0;
  padding: 10px;

  & .tile {
    padding: 10px;
    display: flex;

    &.mod-new {

    }

    &-target {
      color: $flat-clouds;
      text-decoration: none;
      padding: 10px;
      flex-grow: 1;
      font: normal 1.25em/1 'Open Sans', sans-serif;

      &-action {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        color: $flat-belize-hole;
        cursor: pointer;
        opacity: 0;

        &.mod-delete {
          color: $flat-pumpkin;

          &:hover {
            color: $flat-carrot;
          }
        }

        &:hover {
          color: $flat-peter-river;
        }
      }
    }

    &:hover {
      background: $flat-wet-asphalt;

      & .tile-target {

      }

      & .tile-target-action {
        opacity: 1;
      }
    }
  }
}

.itemHeader {
  display: flex;

  & .subtitle {
  }
}

#newItemButton {
  font-size: 1.25rem;
  padding: 10px;
  border: 0;
  background-color: transparent;
  color: $flat-belize-hole;
  text-align: center;
  display: block;
  cursor: pointer;
}
#newCategoryButton {
  padding: 10px;
  border: 0;
  background-color: transparent;
  color: $flat-belize-hole;
  text-align: center;
  display: block;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .categoryTiles {
    display: block;

    & .tile {
      height: auto;
      & .tile-target {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
}

.flashes {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style-type: none;

  & li {
    padding: 5px;
  }
}