<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" >
    {% block head %}

    {% endblock %}

</head>
<body>
    <header>
        <div class="page_title">
            Catalog
        </div>

        <div id="signinButton">
        {% if user_id == None %}

            <span class="g-signin2" id="signinButton">Sign in with Google</span>

        {% else %}

            <a href="{{url_for('gdisconnect')}}">
                Logout
            </a>

        {% endif %}

        </div>
    </header>

    <main class="content row">

        <nav class="col-sm-3">
            <ul>
        {% for category in categories %}
            <li>
                <a href="/{{category.slug}}" >
                    {{ category.name }} <br>
                </a>
            </li>
        {% endfor %}
            </ul>
        </nav>

        <div class="col-sm-9">
            {% block content %}
                Dummy content here
            {% endblock %}
        </div>
    </main>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <script src="/static/jquery-1.8.2.min.js"></script>
    <script src="/static/sweetalert2.min.js"></script>
    <script src="/static/script.js"></script>

    {% block script %}{% endblock %}
</body>
</html>